<!DOCTYPE html>
<html>
<head>
    <script src="/static/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="/static/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/bootstrap/dist/css/bootstrap-theme.min.css">
</head>
<body>
<h1 class="text-center"> hosts data </h1>
	<div class="col-lg-12">
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped tablesorter">
                <thead>
                <tr>
                  <th class="header"> ip <i class="icon-sort"></i></th>
                  <th class="header"> country_code <i class="icon-sort"></i></th>
                  <th class="header"> country <i class="icon-sort"></i></th>
                  <th class="header"> region_code <i class="icon-sort"></i></th>
                  <th class="header"> region_name <i class="icon-sort"></i></th>
                  <th class="header"> city <i class="icon-sort"></i></th>
                  <th class="header"> zip_code <i class="icon-sort"></i></th>
                  <th class="header"> time_zone <i class="icon-sort"></i></th>
                  <th class="header"> latitude <i class="icon-sort"></i></th>
                   <th class="header"> longitude <i class="icon-sort"></i></th>
                   <th class="header"> metro_code <i class="icon-sort"></i></th>
                </tr>
            </thead>
            <tbody>
            
            {% for key in data %}
                <tr>
                    <td>{{ key.ip }}</td>
                    <td>{{ key.country_code }}</td>
                    <td>{{ key.country }}</td>
                    <td>{{ key.region_code }}</td>
                    <td>{{ key.region_name }}</td>
                    <td>{{ key.city }}</td>
                    <td>{{ key.zip_code }}</td>
                    <td>{{ key.time_zone }}</td>
                    <td>{{ key.latitude }}</td>
                    <td>{{ key.longitude }}</td>
                    <td>{{ key.metro_code }}</td>
                </tr>
            {% endfor %}
            
            </tbody>
            </table>
        </div>
    </div>
</body>
</html>
